Linee guida, ad uso degli autori, per la preparazione dei record di Zotero.
**Linee guida generali che valgono trasversalmente per tutte le reference.**
La formattazione dei singoli esempi è descritta invece nel documento:
[https://docs.google.com/spreadsheets/d/14131aqd24akBqu4rOYx0GUtITepBlzrXbTlEsxWYBMw/edit#gid=0](https://docs.google.com/spreadsheets/d/14131aqd24akBqu4rOYx0GUtITepBlzrXbTlEsxWYBMw/edit#gid=0)

## **Date e intervalli di date**

Le date vanno composte nel formato `YYYY-MM-DD`, ogni altro formato non è accettato. Chiaramente, se non si conoscono mese e giorno, o quei dati non sono appropriati per la reference da compilare, inserire solamente i dati a disposizione.

| Date |`2016-12-29`|
|--|--|

oppure

| Date |`2018`|
|--|--|

- Gli intervalli di data, che vanno sempre scritti nel campo Extra tramite il parametro “Issued”, vanno composte nel formato `Issued: "YYYY-MM-DD/YYYY-MM-DD"`. Quando presente il parametro “issued” sovrascrive il campo Date se presente.

| Extra|`Issued: "YYYY-MM-DD/YYYY-MM-DD`|
|--|--|

 - Qualora la pubblicazione non sia stata ancora rilasciata ma è in processo di revisione scientifica, lasciare il campo Date vuoto, il sistema Bembo aggiungerà la dicitura `“in press”` nel caso si tratti di un articolo o di un libro.
Stesso vale per le altre reference che non hanno una data di pubblicazione: lasciando il campo Date vuoto, il sistema Bembo aggiungerà la dicitura `“n.d.”`.

|Date||
|--|--|

 - Qualora si dovesse indicare l’anno di pubblicazione dell’opera originale di un autore, indicare l’anno dell’opera originale nel campo Extra tramite il parametro `Original date: “YYYY”`.

|Extra|`Original date: “YYYY”`|
|--|--|

## **Nomi di autori ed editori**
- I nomi degli autori (o degli altri tipi di creatori) possono essere scritti per esteso oppure con il nome abbreviato. Per lo stile APA 7th edition, verranno sempre comunque abbreviati.

|Author|`Freud`|`Sigmund`|
|--|--|--|

oppure

|Author|`Freud`|`S.`|
|--|--|--|

- Zotero consente di scrivere i nomi di autori (e altri creatori) in due diverse modalità: una modalità a campo unico, e una a campo spezzato per nome e per cognome. Il cambio di modalità è possibile cliccando l’icona apposita di fianco al campo del nome.
La modalità spezzata è quella che generalmente risponde a quasi tutti gli usi, e quando si tratta di persone. La modalità a campo unico viene utilizzata quando il creatore è una associazione, oppure è necessario specificare il ruolo del creatore (che chiaramente non fa parte né del nome e né del cognome).
Nel caso sia necessario utilizzare

e.g. 1

|Author|`Freud`|`Sigmund`|
|--|--|--|

oppure

|Author|`American Psychological Association`|
|--|--|

e.g. 2

|Director|`Sherman-Palladino, A. (Writer & Director)`|
|--|--|

oppure


|Producer|`Sherman-Palladino`|`A.`|
|--|--|--|

- I nomi di autori (o altri creatori di opere) che includono delle abbreviazioni (es. “Martin Luther King jr”) vanno composti indicando Cognome: cognome,  Nome: abbreviazione, nome.

|Author|`King`|`jr, Martin Luther`|
|--|--|--|

- Qualora vi siano preposizioni al cognome (es. “Ludwig van Beethoven”) queste devono essere scritte a seguito del nome

|Author|`Beethoven`|`Ludwig van`|
|--|--|--|

-   Quando si compila una reference che possiede uno o più autori, ma che fa parte di una pubblicazione curata da uno o più editori, segnare tutti i nomi dei soggetti assegnando loro il ruolo corretto. Sia Zotero che il sistema Bembo li formatterà correttamente nelle posizioni adeguate.

e. g. Balsam, K. F., Martell, C. R., Jones, K. P., & Safren, S. A. (2019). Affirmative cognitive behavior therapy with sexual and gender minority people. In G. Y. Iwamasa, & P. A. Hays (Eds.), *Culturally responsive cognitive behavior therapy: Practice and supervision* (2nd ed., pp. 287–314). American Psychological Association. https://doi.org/10.1037/0000119-012

||||
|--|--|--|
|**Editor**|**`Iwamasa`**|**`Gayle Y.`**|
|**Editor**|**`Hays`**|**`Pamela A.`**|
|**Author**|**`Balsam`**|**`Kimberly F.`**|
|**Author**|**`Martell`**|**`Christopher R.`**|
|**Author**|**`Jones`**|**`Kyle P.`**|
|**Author**|**`Safren`**|**`Steven A.`**|

- Quando si compila una reference, tipicamente di un contenuto audiovisuale, che identifica come autori dell’opera lo sceneggiatore e/o il regista (da scrivere nel campo Director solo), ma che è parte di una serie, occorre indicare anche i produttori esecutivi della serie come campo Producer. Se si indicano solamente i produttori esecutivi, la reference li posiziona al posto dei Director. In questo tipo di reference, indicare quindi SOLO eventuali Director (sceneggiatore e/o regista) e Producer (produttori)

e.g. Favreau, J. (Writer), & Filoni, D. (Director). (2019, November 12). Chapter 1 (Season 1, Episode 1) [TV series episode]. In J. Favreau, D. Filoni, K. Kennedy, & C. Wilson (Executive Producers), The Mandalorian. Lucasfilm; Golem Creations.

||||
|--|--|--|
|**Director**|**`Favreau, J. (Writer)`**
|**Director**|**`Filoni, D. (Director)`**|
|**Producer**|**`Favreau`**|**`J.`**|
|**Producer**|**`Filoni`**|**`D.`**|
|**Producer**|**`Kennedy`**|**`K.`**|
|**Producer**|**`Wilson`**|**`C.`**|

**Titolazioni e annotazioni specifiche**

- Alcuni tipi di reference richiedono all’autore di specificare alcune informazioni tra parentesi quadre ([ ]). Quando ciò avviene, il sistema Bembo scrive automaticamente queste parti di informazione con lo stile appropriato.

|Title|`Heterodox issues in psychology [Special section]`|
|--|--|

oppure

|Title|`Study Abroad Programs [Editorial]`|
|--|--|

- Alcuni tipi di reference impongono l’uso di uno stile non corsivo per parti di titolazioni o altri campi, le quali sono racchiuse tra parentesi quadre ([ ]). Tuttavia, può essere necessario dover scrivere parti di informazioni in corsivo, anche se esse sono racchiuse tra quadre. Per fare ciò, è necessario racchiudere tra asterischi tali parti di testo (* *). Gli esempi specifici vengono illustrati nella parte successiva del documento, ma in linea generale la formattazione per queste informazioni è la seguente:

|Title|`Bringing LGBTQ youth theater into the spotlight [Review of the film *The year we thought about love*, by E. Brodsky, Dir.].`|
|--|--|


**Edizioni e note su edizioni**

- I numeri di edizione vanno indicati con un semplice numero arabico, senza ordinali. Le edizioni con diciture particolari (e.g. “North American edition”, o “Global edition”) vanno indicate senza aggiungere la dicitura “edition”

|Edition|`2`|
|--|--|

oppure

|Edition|`Summer 2019`|
|--|--|

oppure

|Edition|`North American`|
|--|--|

**Archivi e collocazioni in archivi**

- Qualora la reference necessiti di indicare il nome dell’archivio (campo Archive) e la collocazione del documento nell’archivio (campo Loc. in Archive), occorre indicare anche nel campo Extra le medesime informazioni tramite i parametri “collection-title” e “collection-number”.

|||
|--|--|
|**Archive**|**`ProQuest Dissertations and Theses Global`**|
|**Loc. in Archive**|**`Publication No. 10289373`**|
|**Extra**|**`collection-title: “ProQuest Dissertations and Theses Global” collection-number: “Publication No. 10289373”`**|

{# references table #}
{%- set TABLE_KEYS = ['APA category','APA prototype','Reference','Zotero item type','Required fields','Optional fields','Notes'] -%}
<table>
<tr>
{%- for eachKey in TABLE_KEYS -%}
    {{ '<th>' }}{{ eachKey }}{{ '</th>' }}
{%- endfor -%}
</tr>

{% for eachRow in table %}
    <tr>
    {%- if eachRow['APA category'] in ['APA Custom Edge Cases', 'APA 7th CASES 2020-2021']-%}
        <td colspan="{{TABLE_KEYS|length}}"><strong>{{- eachRow['APA category'] -}}</strong></td>
    {%- else -%}
        {%- for eachKey in TABLE_KEYS %}
            <td>{{- eachRow[eachKey] -}}</td>
        {%- endfor %}
    {%- endif -%}
    </tr>
{% endfor %}
</table>