{# references table #}
{%- set TABLE_KEYS = ['APA category','APA prototype','Reference','Zotero item type','Required fields','Optional fields','Notes'] -%}
<table>
<tr>
{%- for eachKey in TABLE_KEYS -%}
    {{ '<th>' }}{{ eachKey }}{{ '</th>' }}
{%- endfor -%}
</tr>
{%- for eachRow in table %}
    <tr>
    {%- if eachRow['APA category'] in ['APA Custom Edge Cases', 'APA 7th CASES 2020-2021']-%}
        <td colspan="{{TABLE_KEYS|length}}"><strong>{{- eachRow['APA category'] -}}</strong></td>
    {%- else -%}
        {%- for eachKey in TABLE_KEYS %}
        <td>{{- eachRow[eachKey] -}}</td>
        {%- endfor %}
    {%- endif -%}
    </tr>
{%- endfor -%}
</table>